<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="/css/styles.css"/>
<!--    <script type="module" X-Content-Type-Options: "nosniff" src="/controllers/ctrlIntro.js"></script>-->
    <title>Corona virus alrededor</title>
    <base href="/">
</head>
<body>
    <div class="content">
        <div class="content-set">
            <h1>Coronavirus en mi círculo social</h1>
        </div>
        <div class="content-set">
            <p class="paragraph">¿Cuántos infectados hay en mi círculo social?</p>
            <p class="paragraph">¿Cuántas víctimas?</p> 
            <p class="paragraph">¿Qué tan cerca está el virus de mí?</p>
            <p class="paragraph">
                Este proyecto es un esfuerzo para aterrizar el virus a tu entorno y analizar realidades
                individuales.
            </p>
            <p class="paragraph">
                La información personal suministrada no es de interés para nosotros. La información que realmente
                cuenta es la que esté relacionada con la enfermedad.
            </p>
        </div>
        <div class="content-set buttons-container">
            <form class="buttons" action="/personalInfo">
                <button disabled=true>&lt</button>
                <button id="btn-next">&gt</button>
            </form>
        </div>
    </div>
</body>
</html>